<div style="display: grid; grid-template-columns: 200px 200px">
  <div style="background-color: aqua">Grid 1</div>
  <div style="background-color: blueviolet">
    Grid 2
    <p>H</p>
  </div>
</div>

<div
  style="
    display: grid;
    grid-template-columns: 200px 200px 400px;
    margin-top: 30px;
  "
>
  <div style="background-color: aqua">Grid 1</div>
  <div style="background-color: blueviolet">Grid 2</div>
  <div style="background-color: green">Grid 3</div>
</div>
<div
  style="
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    margin-top: 30px;
  "
>
  <div style="background-color: aqua">Grid 1</div>
  <div style="background-color: blueviolet">Grid 2</div>
  <div style="background-color: green">Grid 3</div>
</div>
<div
  style="display: grid; grid-template-columns: 200px 1fr 1fr; margin-top: 30px"
>
  <div style="background-color: aqua">Grid 1</div>
  <div style="background-color: blueviolet">Grid 2</div>
  <div style="background-color: green">Grid 3</div>
</div>
<div
  style="display: grid; grid-template-columns: 1fr 2fr 1fr; margin-top: 30px"
>
  <div style="background-color: aqua">Grid 1</div>
  <div style="background-color: blueviolet">Grid 2</div>
  <div style="background-color: green">Grid 3</div>
</div>
