<h1>Youtube</h1>
<input type="text" placeholder="Search" />
<div class="container">
    <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-1.webp"
          alt="thumbnail-1"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-2.webp"
          alt="thumbnail-2"
        />
      </div>
      
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-3.webp"
          alt="thumbnail-3"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-4.webp"
          alt="thumbnail-4"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-5.webp"
          alt="thumbnail-5"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-6.webp"
          alt="thumbnail-6"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-7.webp"
          alt="thumbnail-7"
        />
      </div>
      
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-8.webp"
          alt="thumbnail-8"
        />
      </div>
      
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-9.webp"
          alt="thumbnail-9"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-10.webp"
          alt="thumbnail-10"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-11.webp"
          alt="thumbnail-11"
        />
      </div>
      <div class="image-card">
        <img
          class="thumbnails"
          src="../../../assets/thumbnail-12.webp"
          alt="thumbnail-12"
        />
      </div>
      
</div>
