<div class="header">
  <div class="left-container">
    <img
      class="hamburger-menu"
      src="../../../assets/hamburger-menu.svg"
      alt="menu"
    />
    <img
      class="youtube-logo"
      src="../../../assets/youtube-logo.svg"
      alt="youtube-logo"
    />
  </div>
  <div class="middle-container">
    <input type="text" placeholder="Search" class="header-input" />
    <img
      class="search-icon"
      src="../../../assets/search.svg"
      alt="search-icon"
    />
    <img
      class="voice-icon"
      src="../../../assets/voice-search-icon.svg"
      alt="voice-icon"
    />
  </div>
  <div class="right-container">
    <img
      class="upload-icon"
      src="../../../assets/upload.svg"
      alt="upload-icon"
    />
    <img
      class="youtube-apps-icon"
      src="../../../assets/youtube-apps.svg"
      alt="youtube-apps-icon"
    />
    <div style="position: relative">
      <img
        class="notifications-icon"
        src="../../../assets/notifications.svg"
        alt="notifications-icon"
      />
      <div class="notification-count">3</div>
    </div>

    <img
      class="personal-icon"
      src="../../../assets/abraham.jpg"
      alt="personal-icon"
    />
  </div>
</div>
<div class="sidebar">
  <div class="sidebar-image">
    <img class="sidebar-img" src="../../../assets/home.svg" alt="home" />
    <div>Home</div>
  </div>
  <div class="sidebar-image">
    <img class="sidebar-img" src="../../../assets/explore.svg" alt="explore" />
    <div>Explore</div>
  </div>

  <div class="sidebar-image">
    <img
      class="sidebar-img"
      src="../../../assets/subscriptions.svg"
      alt="subscriptions"
    />
    <div>Subscriptions</div>
  </div>
  <div class="sidebar-image">
    <img
      class="sidebar-img"
      src="../../../assets/originals.svg"
      alt="originals"
    />
    <span>Originals</span>
  </div>
  <div class="sidebar-image">
    <img
      class="sidebar-img"
      src="../../../assets/youtube-music.svg"
      alt="youtube-music"
    />
    <div>YouTube Music</div>
  </div>
  <div class="sidebar-image">
    <img class="sidebar-img" src="../../../assets/library.svg" alt="library" />
    <div>Library</div>
  </div>
</div>
<div class="container">
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-1.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div>
        <img
          class="profile-image"
          src="../../../assets/channel-1.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">
          Talking Tech and AI with Google CEO Sundar Pichai!
        </p>
        <p class="video-author">Marques Brownlee</p>
        <p class="video-description">3.4M views · 6 months ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-2.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-2.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">Try Not To Laugh Challenge #9</p>
        <p class="video-author">Markiplier</p>
        <p class="video-description">19M views · 4 years ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-3.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-3.jpeg"
          alt="profile-img"
        />
        <div class="watch">15:30</div>
      </div>
      <div class="profile-details">
        <p class="video-title">Crazy Tik Toks Taken Moments Before DISASTER</p>
        <p class="video-author">SSSniperWolf</p>
        <p class="video-description">12M views · 1 year ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-4.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-4.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">
          The Simplest Math Problem No One Can Solve - Collatz Conjecture
        </p>
        <p class="video-author">Veritasium</p>
        <p class="video-description">18M views · 4 months ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-5.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-5.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">
          Kadane's Algorithm to Maximum Sum Subarray Problem
        </p>
        <p class="video-author">CS Dojo</p>
        <p class="video-description">519K views · 5 years ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-6.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-6.jpeg"
          alt="profile-img"
        />
        <div class="watch">15:30</div>
      </div>
      <div class="profile-details">
        <p class="video-title">
          Anything You Can Fit In The Circle I’ll Pay For
        </p>
        <p class="video-author">MrBeast</p>
        <p class="video-description">141M views · 1 year ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-7.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-7.jpeg"
          alt="profile-img"
        />
        <div class="watch">15:30</div>
      </div>
      <div class="profile-details">
        <p class="video-title">Why Planes Don't Fly Over Tibet</p>
        <p class="video-author">RealLifeLore</p>
        <p class="video-description">6.6M views · 1 year ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-8.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-8.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">Inside The World's Biggest Passenger Plane</p>
        <p class="video-author">Tech Vision</p>
        <p class="video-description">3.7M views · 10 months ago</p>
      </div>
    </div>
  </div>

  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-9.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-9.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">The SECRET to Super Human STRENGTH</p>
        <p class="video-author">ThenX</p>
        <p class="video-description">20M views · 3 year ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-10.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-10.jpeg"
          alt="profile-img"
        />
      </div>
      <div class="profile-details">
        <p class="video-title">
          How The World's Largest Cruise Ship Makes 30,000 Meals Every Day
        </p>
        <p class="video-author">Business Insider</p>
        <p class="video-description">14M views · 1 year ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-11.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-11.jpeg"
          alt="profile-img"
        />
        <div class="watch">15:30</div>
      </div>

      <div class="profile-details">
        <p class="video-title">
          Dubai's Crazy Underwater Train and Other Things #Only in Dubai
        </p>
        <p class="video-author">Destination Tips</p>
        <p class="video-description">3M views · 1 year ago</p>
      </div>
    </div>
  </div>
  <div class="image-card">
    <div style="position: relative">
      <img
        class="thumbnails"
        src="../../../assets/thumbnail-8.webp"
        alt="thumbnail-1"
      />
      <div class="watch">15:30</div>
    </div>

    <div class="video-info">
      <div class="profile-img">
        <img
          class="profile-image"
          src="../../../assets/channel-8.jpeg"
          alt="profile-img"
        />
        <div class="watch">15:30</div>
      </div>
      <div class="profile-details">
        <p class="video-title">
          What would happen if you didn’t drink water? - Mia Nacamulli
        </p>
        <p class="video-author">TED-Ed</p>
        <p class="video-description">12M views · 5 years ago</p>
      </div>
    </div>
  </div>
</div>
